<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.admin.mapper.ResetpasswordtokenMapper">
	<resultMap id="BaseResultMap" type="com.base.admin.entity.Resetpasswordtoken">
		<id column="userid" jdbcType="VARCHAR" property="userid"
		    typeHandler="UUIDTypeHandler"/>
		<result column="token" jdbcType="VARCHAR" property="token"/>
		<result column="expirydate" jdbcType="TIMESTAMP" property="expirydate"/>
	</resultMap>
	<sql id="Base_Column_List">
		userid , token, expirydate
	</sql>
	<select id="findById" parameterType="java.util.UUID" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from resetpasswordtoken
		where userid = #{userid,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
	</select>
	<select id="findByToken" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from resetpasswordtoken
		where token = #{token,jdbcType=VARCHAR}
	</select>

	<delete id="deleteById" parameterType="java.util.UUID">
		delete from resetpasswordtoken
		where userid = #{userid,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
	</delete>
	<insert id="insert" parameterType="com.base.admin.entity.Resetpasswordtoken">
		insert into resetpasswordtoken (userid, token, expirydate
		)
		values (#{userid,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
		#{token,jdbcType=VARCHAR}, #{expirydate,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.base.admin.entity.Resetpasswordtoken">
		update resetpasswordtoken
		set token = #{token,jdbcType=VARCHAR},
		expirydate = #{expirydate,jdbcType=TIMESTAMP}
		where userid = #{userid,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
	</update>
</mapper>