<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.admin.hrm.mapper.DisplacementsMapper">
  <resultMap id="BaseResultMap" type="com.base.admin.hrm.entity.Displacements">
    <id column="displacementid" jdbcType="OTHER" property="displacementid" typeHandler="UUIDTypeHandler"/>
    <result column="employeeid" jdbcType="OTHER" property="employeeid" typeHandler="UUIDTypeHandler"/>
    <result column="unitid" jdbcType="OTHER" property="unitid" typeHandler="UUIDTypeHandler"/>
    <result column="displacementunitid" jdbcType="OTHER" property="displacementunitid" typeHandler="UUIDTypeHandler"/>
    <result column="effectivedate" jdbcType="DATE" property="effectivedate" />
    <result column="displacementnumber" jdbcType="VARCHAR" property="displacementnumber" />
    <result column="jobtitleid" jdbcType="INTEGER" property="jobtitleid" />
    <result column="displacementstatusid" jdbcType="INTEGER" property="displacementstatusid" />
  </resultMap>
  <sql id="Base_Column_List">
    displacementid, employeeid, unitid, displacementunitid, effectivedate, displacementnumber,
    jobtitleid, displacementstatusid
  </sql>

  <resultMap id="DTOResultMap" type="com.base.admin.hrm.dto.DisplacementsDTO">
    <id column="displacementid" jdbcType="OTHER" property="displacementid" typeHandler="UUIDTypeHandler"/>
    <result column="employeeid" jdbcType="OTHER" property="employeeid" typeHandler="UUIDTypeHandler"/>
    <result column="unitid" jdbcType="OTHER" property="unitid" typeHandler="UUIDTypeHandler"/>
    <result column="displacementunitid" jdbcType="OTHER" property="displacementunitid" typeHandler="UUIDTypeHandler"/>
    <result column="effectivedate" jdbcType="DATE" property="effectivedate" />
    <result column="displacementnumber" jdbcType="VARCHAR" property="displacementnumber" />
    <result column="jobtitleid" jdbcType="INTEGER" property="jobtitleid" />
    <result column="displacementstatusid" jdbcType="INTEGER" property="displacementstatusid" />
    <result column="employeecode" jdbcType="VARCHAR" property="employeecode" />
    <result column="fullname" jdbcType="VARCHAR" property="fullname" />
      <result column="jobtitlename" jdbcType="VARCHAR" property="jobtitlename"/>
    <result column="unitname" jdbcType="VARCHAR" property="unitname" />
    <result column="displacementunitname" jdbcType="VARCHAR" property="displacementunitname" />
  </resultMap>
  <sql id="DTO_Column_List">
    displacementid, employeeid, unitid, displacementunitid, effectivedate, displacementnumber,
    jobtitleid, displacementstatusid, employeecode, fullname, jobtitlename, unitname, displacementunitname
  </sql>

  <sql id="pageable">
    <if test="pageable.sort.sorted">
      <trim prefix="order by">
        <foreach item="order" index="i" collection="pageable.sort" separator=", ">
          <if test="order.property == 'displacementid'">displacementid ${order.direction}</if>
          <if test="order.property == 'employeeid'">employeeid ${order.direction}</if>
          <if test="order.property == 'unitid'">unitid ${order.direction}</if>
          <if test="order.property == 'displacementunitid'">displacementunitid ${order.direction}</if>
          <if test="order.property == 'effectivedate'">effectivedate ${order.direction}</if>
          <if test="order.property == 'displacementnumber'">displacementnumber ${order.direction}</if>
          <if test="order.property == 'displacementstatusid'">displacementstatusid ${order.direction}</if>
        </foreach>
      </trim>
    </if>
    <if test="pageable.paged">
      limit #{pageable.pageSize} offset #{pageable.offset}
    </if>
  </sql>

  <sql id="searchCondition">
    <if test="search != null">
      <if test="search.displacementid != null"> and displacementid = #{search.displacementid,jdbcType=OTHER,typeHandler=UUIDTypeHandler} </if>
      <if test="search.employeeid != null"> and employeeid = #{search.employeeid,jdbcType=OTHER,typeHandler=UUIDTypeHandler} </if>
      <if test="search.unitid != null"> and unitid = #{search.unitid,jdbcType=OTHER,typeHandler=UUIDTypeHandler} </if>
      <if test="search.displacementunitid != null"> and displacementunitid = #{search.displacementunitid,jdbcType=OTHER,typeHandler=UUIDTypeHandler}</if>
      <if test="search.effectivedate != null"> and effectivedate = #{search.employeeideffectivedate,jdbcType=DATE} </if>
      <if test="search.displacementnumber != null">
        <choose>
          <when test='exact == true'>
            and displacementnumber = #{search.displacementnumber}
          </when>
          <otherwise>
            and displacementnumber ILIKE '%${search.displacementnumber}%'
          </otherwise>
        </choose>
      </if>
      <if test="search.displacementstatusid != null"> and displacementstatusid = #{search.displacementstatusid} ${order.direction}</if>
    </if>
  </sql>

  <sql id="queryAndCountWhereStatement">
    <where>
      <include refid="searchCondition"></include>
    </where>
  </sql>

  <select id="findById" resultType="com.base.admin.hrm.dto.DisplacementsDTO">
<!--    select-->
<!--    <include refid="DTO_Column_List" />-->
<!--    from displacements-->
    SELECT
      dp.displacementid,
      dp.employeeid,
      dp.unitid,
      dp.displacementunitid,
      dp.effectivedate,
      dp.displacementnumber,
      dp.jobtitleid,
      dp.displacementstatusid,
      e.employeecode,
      e.fullname,
      u.unitname,
      ud.unitname as displacementunitname,
      jt.jobtitlename
    FROM
        displacements dp
        LEFT JOIN employees e on e.employeeid = dp.employeeid
        LEFT JOIN units u on u.unitid =  dp.unitid
        LEFT JOIN units ud on ud.unitid = dp.displacementunitid
        LEFT JOIN job_title jt on jt.jobtitleid = dp.jobtitleid
    WHERE dp.displacementid = #{displacementid,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
  </select>

  <select id="countPaged" resultType="java.lang.Long">
    select count(1)
    from displacements
    <include refid="queryAndCountWhereStatement"/>
  </select>

  <select id="searchPaged" resultType="com.base.admin.hrm.dto.DisplacementsDTO">
<!--    select-->
<!--    <include refid="DTO_Column_List"/>-->
<!--    from displacements-->
    SELECT
      dp.displacementid,
      dp.employeeid,
      dp.unitid,
      dp.displacementunitid,
      dp.effectivedate,
      dp.displacementnumber,
      dp.jobtitleid,
      dp.displacementstatusid,
      e.employeecode,
      e.fullname,
      u.unitname,
      ud.unitname as displacementunitname,
      jt.jobtitlename
    FROM
      displacements dp
      LEFT JOIN employees e on e.employeeid = dp.employeeid
      LEFT JOIN units u on u.unitid =  dp.unitid
      LEFT JOIN units ud on ud.unitid = dp.displacementunitid
      LEFT JOIN job_title jt on jt.jobtitleid = dp.jobtitleid
    <include refid="queryAndCountWhereStatement"/>
    <include refid="pageable"/>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.util.UUID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from displacements
    where displacementid = #{displacementid,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.UUID">
    delete from displacements
    where displacementid = #{displacementid,jdbcType=OTHER}
  </delete>
  <delete id="deleteByPrimaryKeys" parameterType="java.util.List">
    delete from displacements
    where displacementid in
    <foreach item="item" collection="list" open="(" separator="," close=")">
      #{item,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.base.admin.hrm.entity.Displacements">
    insert into displacements (displacementid, employeeid, unitid,
      displacementunitid, effectivedate, displacementnumber,
      jobtitleid, displacementstatusid)
    values (#{displacementid,jdbcType=OTHER}, #{employeeid,jdbcType=OTHER}, #{unitid,jdbcType=OTHER},
      #{displacementunitid,jdbcType=OTHER}, #{effectivedate,jdbcType=DATE}, #{displacementnumber,jdbcType=VARCHAR},
      #{jobtitleid,jdbcType=INTEGER}, #{displacementstatusid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.base.admin.hrm.entity.Displacements">
    insert into displacements
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="displacementid != null">
        displacementid,
      </if>
      <if test="employeeid != null">
        employeeid,
      </if>
      <if test="unitid != null">
        unitid,
      </if>
      <if test="displacementunitid != null">
        displacementunitid,
      </if>
      <if test="effectivedate != null">
        effectivedate,
      </if>
      <if test="displacementnumber != null">
        displacementnumber,
      </if>
      <if test="jobtitleid != null">
        jobtitleid,
      </if>
      <if test="displacementstatusid != null">
        displacementstatusid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="displacementid != null">
        #{displacementid,jdbcType=OTHER},
      </if>
      <if test="employeeid != null">
        #{employeeid,jdbcType=OTHER},
      </if>
      <if test="unitid != null">
        #{unitid,jdbcType=OTHER},
      </if>
      <if test="displacementunitid != null">
        #{displacementunitid,jdbcType=OTHER},
      </if>
      <if test="effectivedate != null">
        #{effectivedate,jdbcType=DATE},
      </if>
      <if test="displacementnumber != null">
        #{displacementnumber,jdbcType=VARCHAR},
      </if>
      <if test="jobtitleid != null">
        #{jobtitleid,jdbcType=INTEGER},
      </if>
      <if test="displacementstatusid != null">
        #{displacementstatusid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.base.admin.hrm.entity.Displacements">
    update displacements
    <set>
      <if test="employeeid != null">
        employeeid = #{employeeid,jdbcType=OTHER},
      </if>
      <if test="unitid != null">
        unitid = #{unitid,jdbcType=OTHER},
      </if>
      <if test="displacementunitid != null">
        displacementunitid = #{displacementunitid,jdbcType=OTHER},
      </if>
      <if test="effectivedate != null">
        effectivedate = #{effectivedate,jdbcType=DATE},
      </if>
      <if test="displacementnumber != null">
        displacementnumber = #{displacementnumber,jdbcType=VARCHAR},
      </if>
      <if test="jobtitleid != null">
        jobtitleid = #{jobtitleid,jdbcType=INTEGER},
      </if>
      <if test="displacementstatusid != null">
        displacementstatusid = #{displacementstatusid,jdbcType=INTEGER},
      </if>
    </set>
    where displacementid = #{displacementid,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.base.admin.hrm.entity.Displacements">
    update displacements
    set employeeid = #{employeeid,jdbcType=OTHER},
      unitid = #{unitid,jdbcType=OTHER},
      displacementunitid = #{displacementunitid,jdbcType=OTHER},
      effectivedate = #{effectivedate,jdbcType=DATE},
      displacementnumber = #{displacementnumber,jdbcType=VARCHAR},
      jobtitleid = #{jobtitleid,jdbcType=INTEGER},
      displacementstatusid = #{displacementstatusid,jdbcType=INTEGER}
    where displacementid = #{displacementid,jdbcType=OTHER}
  </update>
</mapper>
