<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.admin.inventory.mapper.ProductProductMapper">
  <resultMap id="BaseResultMap" type="com.base.admin.inventory.entity.ProductProduct">
    <id column="id" jdbcType="OTHER" property="id" />
    <result column="product_tmpl_id" jdbcType="OTHER" property="productTmplId" />
    <result column="active" jdbcType="BOOLEAN" property="active" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_tmpl_id, active
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Object" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from "product_product"
    where id = #{id,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Object">
    delete from "product_product"
    where id = #{id,jdbcType=OTHER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.base.admin.inventory.entity.ProductProduct" useGeneratedKeys="false">
      insert into "product_product" (id, product_tmpl_id, active)
      values (#{id,jdbcType=OTHER}, #{productTmplId,jdbcType=OTHER}, #{active,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.base.admin.inventory.entity.ProductProduct" useGeneratedKeys="true">
    insert into "product_product"
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productTmplId != null">
        product_tmpl_id,
      </if>
      <if test="active != null">
        active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productTmplId != null">
        #{productTmplId,jdbcType=OTHER},
      </if>
      <if test="active != null">
        #{active,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.base.admin.inventory.entity.ProductProduct">
    update "product_product"
    <set>
      <if test="productTmplId != null">
        product_tmpl_id = #{productTmplId,jdbcType=OTHER},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.base.admin.inventory.entity.ProductProduct">
    update "product_product"
    set product_tmpl_id = #{productTmplId,jdbcType=OTHER},
      active = #{active,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=OTHER}
  </update>
</mapper>