<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.base.admin.mapper.UsersRolesMapper">
	<resultMap id="BaseResultMap" type="com.base.admin.entity.UsersRoles">
		<id column="userid" jdbcType="VARCHAR" property="userid"
		    typeHandler="UUIDTypeHandler"/>
		<id column="roleid" jdbcType="VARCHAR" property="roleid"
		    typeHandler="UUIDTypeHandler"/>
	</resultMap>
	<delete id="deleteById" parameterType="map">
		delete from users_roles
		where userid = #{userid,jdbcType=OTHER, typeHandler=UUIDTypeHandler}
		and roleid = #{roleid,jdbcType=OTHER, typeHandler=UUIDTypeHandler}
	</delete>
	<delete id="deleteListByUserIds" parameterType="java.util.List">
		delete from users_roles
		where userid IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
		</foreach>
	</delete>

	<delete id="deleteListByIds" parameterType="java.util.List">
		delete from users_roles
		where
		<foreach item="item" index="index" collection="list" open="(" separator="OR" close=")">
			(roleid = #{item.roleid,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
			and userid = #{item.userid,jdbcType=OTHER,typeHandler=UUIDTypeHandler})
		</foreach>
	</delete>

	<insert id="insert" parameterType="com.base.admin.entity.UsersRoles">
		insert into users_roles (userid, roleid)
		values (#{userid,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
		#{roleid,jdbcType=OTHER,typeHandler=UUIDTypeHandler})
	</insert>

	<insert id="saveAll" parameterType="java.util.List">
		insert into users_roles (userid, roleid)
		values
		<foreach collection="list" item="element" index="index" open="(" separator="),(" close=")">
			#{element.userid,jdbcType=OTHER,typeHandler=UUIDTypeHandler},
			#{element.roleid,jdbcType=OTHER,typeHandler=UUIDTypeHandler}
		</foreach>
	</insert>
</mapper>